<p>That was a close one, but now your colleague is asking you the most difficult of all questions:</p>
<p>Which is the correct tar command?</p>
<button on-click="tar:true">tar -czvf folder.tar.gz folder/</button>
<button on-click="tar:false">tar -czvf folder/ folder.tar.gz</button>